sudo: true
services:
  - docker
 
before_install:
  - curl https://raw.githubusercontent.com/vulpemventures/nigiri-travis/master/index.sh | bash

install:
  - docker-compose up -d

script:
  - docker ps -a
  - curl http://localhost:3000/blocks
  - curl http://localhost:3001/blocks


after_script:
  - docker-compose down
