sudo: true
language: node_js

services:
  - docker
  
env:
  - BITCOIN_ELECTRS_PORT=3002 BITCOIN_ELECTRS_RPC_PORT=51401 BITCOIN_CHOPSTICKS_PORT=3000 BITCOIN_NODE_PORT=18433 LIQUID_CHOPSTICKS_PORT=3001 LIQUID_NODE_PORT=7041 LIQUID_ELECTRS_PORT=3012 LIQUID_ELECTRS_RPC_PORT=60401

before_install:
  - docker -v
  - docker-compose -v
  - chmod -R 777 . 
  - curl -o docker-compose.yml -sL https://raw.githubusercontent.com/vulpemventures/nigiri-travis/master/docker-compose.yml

install:
  - docker-compose build

before_script:
  - docker-compose up -d

script:
  - docker ps -a
  - curl http://localhost:3000/blocks


after_script:
  - docker-compose down
