version: '3'
services:
  # RPC daemons
  bitcoin:
    container_name: nigiri_bitcoin
    image: vulpemventures/bitcoin:latest
    ports:
      - ${BITCOIN_NODE_PORT}:19001
    volumes:
      - ./config/:/config
    restart: unless-stopped
  liquid:
    container_name: nigiri_liquid
    image: vulpemventures/liquid:latest
    ports:
      - ${LIQUID_NODE_PORT}:18884
      - 18886:18886
    volumes:
      - ./liquid-config/:/config
    restart: unless-stopped
  # Block explorer REST servers
  electrs:
    image: vulpemventures/electrs:latest
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --network
      - regtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - bitcoin:19001
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:3002
      - --electrum-rpc-addr
      - 0.0.0.0:60401
      - --cors
      - "*"
    depends_on:
      - bitcoin
    ports:
      - ${BITCOIN_ELECTRS_RPC_PORT}:60401
      - ${BITCOIN_ELECTRS_PORT}:3002
    volumes:
      - ./config/:/config
    restart: unless-stopped
  electrs-liquid:
    image: vulpemventures/electrs-liquid:latest
    entrypoint:
      - /build/electrs
    command:
      - -vvvv
      - --network
      - liquidregtest
      - --daemon-dir
      - /config
      - --daemon-rpc-addr
      - liquid:18884
      - --cookie
      - admin1:123
      - --http-addr
      - 0.0.0.0:3002
      - --electrum-rpc-addr
      - 0.0.0.0:60401
      - --cors
      - "*"
    depends_on:
      - liquid
    ports:
      - ${LIQUID_ELECTRS_RPC_PORT}:60401
      - ${LIQUID_ELECTRS_PORT}:3002
    volumes:
      - ./liquid-config/:/config
    restart: unless-stopped
  # Chopsticks
  chopsticks:
    image: vulpemventures/nigiri-chopsticks:latest
    entrypoint:
      - /build/chopsticks
    command:
      - --use-faucet
      - --use-mining
      - --use-logger
      - --rpc-addr
      - bitcoin:19001
      - --electrs-addr
      - electrs:3002
      - --addr
      - 0.0.0.0:3000
    depends_on:
      - electrs
      - bitcoin
    ports:
      - ${BITCOIN_CHOPSTICKS_PORT}:3000
    restart: unless-stopped
  chopsticks-liquid:
    image: vulpemventures/nigiri-chopsticks:latest
    entrypoint:
      - /build/chopsticks
    command:
      - --use-faucet
      - --use-mining
      - --use-logger
      - --rpc-addr
      - liquid:18884
      - --electrs-addr
      - electrs-liquid:3002
      - --addr
      - 0.0.0.0:3000
      - --chain
      - liquid
    depends_on:
      - electrs-liquid
      - liquid
    ports:
      - ${LIQUID_CHOPSTICKS_PORT}:3000
    restart: unless-stopped
